<%- include("templates/header") %>
<div
  class="d-flex flex-column justify-content-center align-items-center flex-fill"
>
  <div class="text-center">
    <h1 class="display-4" style="font-weight: bold">
      Unauthorized Access - 401
    </h1>
    <p class="lead">Sorry, you are not authorized to view this page.</p>
    <button
      class="btn text-white bg-primary"
      style="height: 50px"
      onclick="goBack()"
    >
      Go Back
    </button>
    <button
      class="btn text-white bg-primary"
      style="height: 50px"
      onclick="goHome()"
    >
      Go Home
    </button>
  </div>
</div>
<%- include("templates/footer") %>
