<%- include("templates/header") %>
<div class="d-flex flex-column justify-content-center align-items-center flex-fill">
    <div class="text-center">
        <h1 class="display-4" style="font-weight: bold;">Page not found - 404</h1>
        <p class="lead">Oops! The page you're looking for does not exist.</p>
        <button class="btn text-white bg-primary" style="height: 50px;" onclick="goBack()">Go Back</button>
        <button class="btn text-white bg-primary" style="height: 50px;" onclick="goHome()">Go Home</button>
    </div>
</div>
<%- include("templates/footer") %>