<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Dashboard</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <main class="add-margin-bottom-20">
      <header class="add-margin-bottom-20">
        <h1>COMP4537 - C2P - AI-Powered Notebook</h1>
        <h2 class="remove-margin-bottom">Your Stats</h2>
      </header>
      <div class="container">
        <div id="userInfo">
          <p>ID: <span><%= user.userId %></span></p>
          <p>Email: <span><%= user.email %></span></p>
          <p>API Calls Used: <span><%= user.apiCallsUsed %></span></p>
          <p>API Calls Remaining: <span><%= user.apiCallsRemaining %></span></p>
          <% if (user.apiCallsRemaining === 0) { %>
          <div id="errorMessage" style="color: red">
            Error: No API calls remaining!
          </div>
          <% } else if (user.apiCallsRemaining < 5) { %>
          <div id="warningMessage" style="color: red">
            Warning: Low API calls remaining!
          </div>

          <% } %>
        </div>
      </div>
    </main>

    <div class="container">
      <button onclick="goBack()">Back</button>
      <button onclick="goHome()">Home</button>
      <form action="/logout" method="POST">
        <button type="submit">Logout</button>
      </form>
    </div>

    <script src="../js/utils.js"></script>
  </body>
</html>
