<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Dashboard</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <main>
      <header class="add-margin-bottom-20">
        <h1>COMP4537 - C2P - AI-Powered Notebook</h1>
        <h2 class="remove-margin-bottom">Your Stats</h2>
      </header>
      <div class="container">
        <div id="userInfo">
          <p>Email: <span id="userEmail"></span></p>
          <p>API Calls Used: <span id="apiCallsUsed"></span></p>
          <p>API Calls Remaining: <span id="apiCallsRemaining"></span></p>
          <div id="warningMessage" style="color: red"></div>
        </div>
      </div>
    </main>

    <div class="container">
      <button onclick="goBack()">Back</button>
      <button onclick="goHome()">Home</button>
    </div>

    <script src="../js/utils.js"></script>
    <script src="../js/user.js"></script>
  </body>
</html>
